@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    font-family: 'Kumbh Sans', sans-serif;

    background: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg"), hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: right 50vw top -75vh, left 50vw bottom -95vh;
}

.cartao{
    display: flex;
    flex-flow: column nowrap;
    width: 327px;
    border-radius: 10px;

    background-color: white;
}

.cabecalho{
    height: 100px;
    background-image: url("/images/bg-pattern-card.svg");

    position: relative;
    display: flex;
    justify-content: center;
}

img.cabecalho__perfil{
    position: absolute;
    border-radius: 50%;
    top: 40%;
    display: inline-block;
    border: 5px solid white;
}

.info{
    height: 200px;
    display: flex;
    flex-direction: column;
}


.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}