@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    padding: 1rem; 

    font-size: 15px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 1rem;
}

.card{
    padding: 2em;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.card img{
    margin-bottom: 1em;
}

.orange{
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    border-radius: 1em 1em 0px 0px;
}

.green{
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.blue{
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 1em 1em;
}

.card__title{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin: 1em 0;
    font-size: 2.5em;
}

.card__content{
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-family: 'Lexend Deca';
    margin-bottom: 1em;
}

.button-learn{
    border: 0;
    background-color: hsl(0, 0%, 95%);
    padding: 1em 2em;
    border-radius: 2em;
    font-family: 'Lexend Deca';
    font-weight: 400;
    margin: 1em 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}