@font-face {
  font-family: "Bit Font";
  src: url("../font/vcr-mono-osd.ttf");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, .modal-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "Bit Font";
}

.modal-start {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal-start img {
  width: 230px;
  cursor: pointer;
  -webkit-animation: float 6s infinite;
          animation: float 6s infinite;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  max-width: 600px;
}

.title {
  font-size: 60px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 1px black;
  color: white;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
          filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
  -webkit-animation: float 6s ease-in infinite;
          animation: float 6s ease-in infinite;
  position: relative;
}

.title::before {
  content: "Front end Developer";
  position: absolute;
  bottom: -20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}

.menu .github, .menu .email,
.menu .linkedin, .menu .back {
  position: relative;
}

.menu .github::before, .menu .email::before,
.menu .linkedin::before, .menu .back::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 25px;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu .github::before {
  background-image: url("../assets/github.png");
}

.menu .linkedin::before {
  background-image: url("../assets/linkedin.png");
}

.menu .email::before {
  background-image: url("../assets/email.png");
}

.menu .back::before {
  background-image: url("../assets/arrow.png");
  -webkit-transform: rotate(270deg) translateX(50%);
          transform: rotate(270deg) translateX(50%);
}

.menu__item {
  width: 90%;
  font-family: "Bit Font";
  font-size: 16px;
  text-align: center;
  padding: 15px;
  border: 2px solid #444444;
  background-color: #888888;
  text-shadow: 2px 2px 1px black;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 4px;
  border-radius: 0;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
          filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
  cursor: pointer;
}

.menu__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.menu div.aboutme {
  line-height: 20px;
  letter-spacing: 1px;
  cursor: text;
}

.menu__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.menu__grid .menu__item {
  width: 100%;
  height: 102px;
  cursor: default;
}

.menu__grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__grid .back {
  height: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  cursor: pointer;
}

@-webkit-keyframes float {
  0% {
    -webkit-filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 3em;
  }
}
/*# sourceMappingURL=styles.css.map */