@font-face {
    font-family: "Bit Font";
    src: url("../font/vcr-mono-osd.ttf");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body,
.modal-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    position: relative;
    overflow: hidden;
    font-family: "Bit Font";
}

.modal-start {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    img {
        width: 230px;
        cursor: pointer;
        animation: float 6s infinite;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 600px;
}

.title {
    font-size: 60px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 1px black;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
    animation: float 6s ease-in infinite;
    position: relative;

    &::before {
        content: "Front end Developer";
        position: absolute;
        bottom: -20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;

    .github,
    .email,
    .linkedin,
    .back {
        position: absolute;
        top: 50%;
        left: 25px;
        width: 40px;
        height: 38px;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
    }

    .github {
        background-image: url("../assets/github.png");
    }

    .linkedin {
        background-image: url("../assets/linkedin.png");
    }

    .email {
        background-image: url("../assets/email.png");
    }

    .back {
        background-image: url("../assets/arrow.png");
        transform: rotate(270deg) translateX(50%);
    }

    &__item {
        position: relative;
        width: 90%;
        font-family: "Bit Font";
        font-size: 16px;
        text-align: center;
        padding: 15px;
        border-top: 4px solid #444444;
        border-bottom: 4px solid #444444;
        background-color: #888888;
        text-shadow: 2px 2px 1px black;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 1px;
        border-radius: 0;
        filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            border-right: 4px solid #444444;
            border-left: 4px solid #444444;
            background: #888888;
            position: absolute;
            top: 4px;
            right: -7px;
            left: -7px;
            bottom: 4px;
            z-index: -1;
        }

        &::after {
            content: "";
            display: block;
            border-left: 4px solid #444444;
            border-right: 4px solid #444444;
            background: #888888;
            position: absolute;
            top: 0px;
            right: -4px;
            left: -4px;
            bottom: 0px;
            z-index: -2;
        }

        &:hover {
            transform: scale(1.03);
        }
    }

    div.aboutme {
        line-height: 20px;
        letter-spacing: 1px;
        cursor: text;
    }
}

.menu__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    gap: 10px 20px;

    .menu__item {
        width: 100%;
        height: 102px;
        cursor: default;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .home {
        height: auto;
        grid-column-start: 1;
        grid-column-end: 4;
        cursor: pointer;
    }
}

@keyframes float {
    0% {
        filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
    }

    50% {
        filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
        transform: translatey(-20px);
    }

    100% {
        filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
    }
}

@media screen and (max-width: 374px) {
    .title {
        font-size: 3em;
    }

    .menu__grid {
        grid-template-columns: repeat(3, 1fr);

        .menu__item:not(.home) {
            height: 80px;
        }
    }
}