@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif;
    font-size: 15px;

    display: flex;
    flex-direction: column;

    background: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg"), var(--white);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title{
    color: var(--very-dark-magenta);
    font-weight: 700;
    text-align: center;

    padding: 50px 50px 0 50px;
}

.header__description{
    color: var(--very-dark-magenta);
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.header__rate{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rate{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--light-grayish-magenta);

    border-radius: 10px;

    padding: 20px;
    margin: 15px 0;

    width: 90%;
}

.rate p{
    color: var(--very-dark-magenta);
    font-weight: 700;

    padding-top: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}

.card{
    background-color: var(--very-dark-magenta);

    padding: 40px 30px;
    margin-bottom: 20px;

    width: 90%;

    border-radius: 10px;
}

.card__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    padding: 0;
}

.card__profile--img{
    border-radius: 50%;
    max-width: 50px;
}

.card__name{
    padding: 20px;
}

.card__title{
    color: var(--light-grayish-magenta);
    font-size: 16px;
}

.card__verified{
    color: var(--soft-pink);
    font-weight: 400;
}

.card__description{
    margin-top: 20px;

    font-weight: 400;
    color: var(--light-grayish-magenta);

}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px){

    body{
        background-position: left top, right bottom;
        height: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__title,
    .header__description{
        text-align: left;
    }

    .header__title{
        padding: 0;
    }

    .header__top{
        flex-direction: column;
        width: 50%;
        padding: 0px;
        padding-right: 100px;
        padding-left: 50px;
    }

    .header__description{
        margin-top: 10px;
        padding: 0px;
    }

    .header__rate{
        flex-direction: column;
        width: 50%;
        padding-top: 20px;
    }
    
    .rate{
        flex-direction: row;
        max-width: 400px;
        justify-content: center;
        align-items: center;
    }

    .rate p{
        padding: 0;
        padding-left: 10px;
    }

    .rate1{
        position: relative;
        left: 0px;
    }

    .rate2{
        position: relative;
        left: 30px;
    }
    
    .rate3{
        position: relative;
        left: 60px;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0;
        margin-top: 30px;
    }

    .card{
        max-width: 400px;
        margin: 0 10px;

        padding: 20px;
    }

    .card1{
        position: relative;
        top: 0px;
    }

    .card2{
        position: relative;
        top: 20px;
    }

    .card3{
        position: relative;
        top: 35px;
    }
}